@import-normalize;

:root {
  /*  */
  --color-black: #373737;
  --color-white: #EBD8FF;
  --color-green: #5CD3A8;
  --color-violet: #5736A3;
  /*  */
  --top-section: 217px;
  /*  */
  --user-box-width: 380px;
  --user-box-height: 460px;
  --user-box-background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
  --user-box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  --user-box-border-radius: 20px;
  /*  */
  --button-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  --button-border-raidus: 10.31px;
  /*  */
  --center-line-height: 8px;
  --center-line-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #AE7BE3,
    inset 0px 3.43693px 2.5777px #FBF8FF;
  /*  */
  --center-circle-size: 80px;
  --center-circle-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #AE7BE3,
    inset 0px 4.39163px 3.29372px #FBF8FF;
  --center-circle-border: 13.17px;
  /*  */
  --avatar-size: 64px;
  /*  */
  /* https: //res.cloudinary.com/dyaylbzox/image/upload/v1677780127/TechTestGoIT/picture2in1_tqf2wb.png */
  /* https: //res.cloudinary.com/dyaylbzox/image/upload/v1677780127/TechTestGoIT/goit-logo_mfsiqb.png */
  /* https: //res.cloudinary.com/dyaylbzox/image/upload/v1677780127/TechTestGoIT/border_as0lbj.png */
  /*  */
  /* https: //res.cloudinary.com/dyaylbzox/image/upload/v1677780585/TechTestGoIT/Hansel_drkeuf.png */
  /*  */
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

